body {
    font-family: Arial, sans-serif;
    background-color: #F9F0EE;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px; /* Adjust as needed */
    margin: 20px;
    background-color: #F9F0EE;
     border: 1px solid #ccc; /* Add border to the entire container */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add a subtle shadow */
}


.left-pane {
    flex: 1;
    padding: 20px;
    background-color: #ffe9e3;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
     overflow-y: auto; /* Enables scrolling for long content */
}

.left-pane h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.left-pane p {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.6;
}

.right-pane {
    flex: 2;
    padding: 20px;
    background-color: #ffe9e3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.right-pane h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center; /* Center the title */
    color: #333;
}

.right-pane label,
.right-pane select {
    margin-bottom: 10px;
    display: block; /* Display labels as blocks */
    width: auto; /* Make labels fit their text content */
}

.right-pane input[type="file"],
.right-pane textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%; /* Make form elements use full width */
    max-width: 100%;
}

.right-pane textarea.text-area {
    width: calc(100% - 20px);
     max-width: calc(100% - 20px);
}

.right-pane button {
    background-color: #A86254;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
     border-radius: 5px;
}
.right-pane button:hover{
    background-color: #c7b198;
     transition: background-color 0.3s ease;
}

.right-pane .buttons {
    display: flex;
    justify-content: space-evenly; /* Add space evenly between buttons */
    margin-bottom: 20px;
}

.right-pane .result-box {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.right-pane .result-box h3 {
    margin-top: 0;
    color: #333;
}

.right-pane .result-box p {
    margin-bottom: 0;
    line-height: 1.6;
    color: #555;
}

.flashes {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.flashes li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.flashes li.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}